.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

.scrollmenu .cardListWrapper {
    display: block;
    padding: 14px;
    text-decoration: none;
}

.homeBtn {
    margin-right: 100px;
    cursor: pointer;
    color: #026AA7
}
